


.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    gap: 15px; /* Space between buttons */
    background-color: #c2e2ed; /* Light blue background */
    padding: 20px;
    border-radius: 5px;
    width: 180px; /* Fixed width */
    height: 180px; /* Fixed height */
    font-family: "Roboto", sans-serif;
    
  }
  
  .action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px; /* Space between icon and label */
    cursor: pointer;
  }
  
   .action-btn:hover .icon-container{
    background-color: #0e3f60; /* Hover effect for the icon */
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #10a0dd; /* Blue circular background */
    border-radius: 50%;
    width: 40px; /* Fixed circular icon size */
    height: 40px; /* Fixed circular icon size */
  }
  
  .icon {
    font-size: 18px; /* Adjust icon size */
    color: white; /* White icon color */
  }
  .gpay-icon {
    border-radius: 50%;
    width: 40px;
  }
  
  .action-btn span {
    font-size: 12px; /* Text below icon */
    color: #333;
    text-align: center;
  }
  

  
  