


.button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px; 
    background-color: #c2e2ed; 
    padding: 20px;
    border-radius: 5px;
    width: 180px;
    height: 180px; 
    font-family: "Roboto", sans-serif;
    
  }
  
  .action-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px; 
    cursor: pointer;
  }
  
   .action-btn:hover .icon-container{
    background-color: #33a9f8ac; 
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #10a0dd; 
    border-radius: 50%;
    width: 40px; 
    height: 40px; 
  }
  
  .icon {
    font-size: 18px; 
    color: white; 
  }
  .gpay-icon {
    border-radius: 50%;
    width: 40px;
  }
  
  .action-btn span {
    font-size: 12px; 
    color: #333;
    text-align: center;
  }
  

  .action-btn.active .icon-container {
    background-color: #0e3f60; 
  }
  