.credit-card {
    background-color: #0d3f62;
    color: #fff;
    width: 340px;
    height: 180px;
    border-radius: 5px;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    margin: 10px;
  }
  
  .card-header {
    display: flex;
    justify-content:space-between;
    
  }

  
  
  .top-icon {
    font-size: 12px;
    color: #fffffff7;
  }
  .gpay-top-icon{
    height: 10px;
    width: 20px;
  }

  .hdfc-logo-right {
    margin-left: auto; /* Logo on the right (applied when Normal state) */
  }

  .card-type {
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-body {
    margin-top: 20px;
  }
  
  .card-number {
    font-size: 12px;
    letter-spacing: 2px;
  }
  
  .card-holder h4 {
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .card-bottom-left{
    width: 200px;
  }


  .card-bottom{
    display: flex;

  }
  
  .card-bottom-right {
    display: flex;
    align-items: flex-end;
    justify-items: end;
    margin-bottom: 5px;
    margin-left: 50px;
  }

  
  
  .card-footer {
    margin-top: 20px;
    display: flex;
    font-size: 12px;
    justify-content: space-between;
  }
  
  .footer-left span{
    font-weight: 500;
  }
  .card-footer h4 {
    font-size: 18px;
    
  }

  .card-footer{
    margin-top: 25px;
  }
  